h2 {
  margin-bottom: 16px;
}
section {
  margin-bottom: 32px;
}

body {
  height: 100vh;
}

.ma-1 {
  margin: 10px;
}
.mx-1 {
  margin: 0 10px;
}
.my-1 {
  margin: 10px 0;
}
.mr-1 {
  margin-right: 10px;
}
